<% @pokemons.each do |pokemon| %>
<div>
	<h2>Name: <%= pokemon.name %></h2>
	<h2>Candy: <%= pokemon.candy %></h2>
	<h2>Evolve: <%= pokemon.evolve %></h2>
	<h2>Pokemon #: <%= pokemon.pokemoncount %></h2>
</div>
<!-- Delete button -->
<!-- Delete method -->
	<form action="/pokemon/<%=pokemon.id%>" method="post">
	  <div style="margin:0;padding:0">
	    <input name="_method" type="hidden" value="DELETE" />
	    <button id="singlebutton" name="singlebutton" class="btn btn-default">Remove</button>
	  </div>
	</form>

<br>
	<form action="/pokemon/<%=pokemon.id%>/edit" method="GET">
	  <div style="margin:0;padding:0">
	   <button>Update</button>
	  </div>
	</form>

<% end %>
